~
.DS_Store
trading/trading-app/target
trading/trading-app/.env
trading/trading-app/**/target
api/backend/target
api/backend/**/target
data/postgres-data/*
data/postgres-data/**/*
default.profraw
jts.ini
output.log
.env
*.zip
target
gen
.venv
