~
.DS_Store
trading-app/target
trading-app/.env
trading-app/**/target
backend/target
backend/**/target
postgres-data/*
postgres-data/**/*
default.profraw
jts.ini
config.ini
output.log
.env
*.zip
target
gen

tws-stable-standalone-linux-x64.sh
ibgateway-stable-standalone-linux-x64.sh
